body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: #f9a875 ;
}

.gridContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5e9bf;
}

#grid {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 850px;
    background-color: white;
}

.row {
    height: 100%;
    display: flex;
    justify-content: center;
}

.block {
    border: px solid black;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #372a39 ;
    font-size: large;
    border: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

button {
    font-size: larger;
    background-color: #aa644d;
    border-radius: 8px;
    border: 0;
    padding: 10px;
    color: white;
}

button:hover {
    background-color: #788374;
}

.footer {
    height: 40px;
    display: flex;
    flex-shrink: 0;
    background-color: #f5e9bf;
}